.Footer {
    width: 100%;
    height: fit-content;
    background-color: rgba(53, 29, 49, 0.95);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    gap: 20px;
    box-sizing: border-box;
    position: relative;
    
}

@media (min-width: 576px) {
    .Footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }
}